---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header";
import {Content as Intro} from '../markdown/intro.md';
---

<BaseLayout title="Welcome.">
  <Header client:load />
  <main>
    <article class="intro">
      <Intro />
    </article>
  </main>
</BaseLayout>

<style>
  main {
    padding: 0 24px;
  }
  .intro {
    max-width: 720px;
    margin: 0 auto;
  }
</style>