.wrapper {
  max-width: 720px;
  margin: 12px auto;

  columns: 2;
}
@media screen and (max-width: 480px) {
  .wrapper {
    columns: 1;
  }
}

.field {
  margin-bottom: 12px;

  display: flex;
  flex-direction: column;
}
.field textarea {
  resize: vertical;
  font-family: inherit;
  font-size: inherit;
}
.field.submit {
  width: fit-content;
  margin: 0;

  float: right;
}

.error {
  margin-top: 6px;
  color: red;
}